# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. scikit-learn
5. Matplotlib
4. SciPy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hour = minutes / 60
hour

3.3333333333333335

**Objectives:**
- Python
- R 
- SQL

## Author 
Niklaust