<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [115]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [116]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [117]:
!pip install -q pandas==1.1.5

In [118]:
%sql ibm_db_sa://

'Connected: wrh91146@bludb'

In [120]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEX_WEB_SCRAPED", con, if_exists='replace', index=False,method="multi")

In [121]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [122]:
%sql SELECT COLNAME FROM SYSCAT.COLUMNS WHERE TABNAME = 'SPACEX_WEB_SCRAPED'

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('BOOSTER_LANDING',),
 ('CUSTOMER',),
 ('DATE',),
 ('FLIGHT_NO_',),
 ('LAUNCH_OUTCOME',),
 ('LAUNCH_SITE',),
 ('ORBIT',),
 ('PAYLOAD',),
 ('PAYLOAD_MASS',),
 ('TIME',),
 ('VERSION_BOOSTER',)]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [39]:
%%sql 
SELECT DISTINCT LAUNCH_SITE FROM SPACEX_WEB_SCRAPED;

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('CCAFS',), ('CCSFS',), ('Cape Canaveral',), ('KSC',), ('VAFB',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [40]:
%%sql 
SELECT *
FROM SPACEX_WEB_SCRAPED
WHERE LAUNCH_SITE LIKE 'CCA%'
LIMIT 5;

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(1, 'CCAFS', 'Dragon Spacecraft Qualification Unit', '0', 'LEO', 'SpaceX', 'Success\n', 'F9 v1.0B0003.1', 'Failure', '4 June 2010', '18:45'),
 (2, 'CCAFS', 'Dragon', '0', 'LEO', 'NASA', 'Success', 'F9 v1.0B0004.1', 'Failure', '8 December 2010', '15:43'),
 (3, 'CCAFS', 'Dragon', '525 kg', 'LEO', 'NASA', 'Success', 'F9 v1.0B0005.1', 'No attempt\n', '22 May 2012', '07:44'),
 (4, 'CCAFS', 'SpaceX CRS-1', '4,700 kg', 'LEO', 'NASA', 'Success\n', 'F9 v1.0B0006.1', 'No attempt', '8 October 2012', '00:35'),
 (5, 'CCAFS', 'SpaceX CRS-2', '4,877 kg', 'LEO', 'NASA', 'Success\n', 'F9 v1.0B0007.1', 'No attempt\n', '1 March 2013', '15:10')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [44]:
%%sql
SELECT SUM(CAST(REGEXP_REPLACE(PAYLOAD_MASS, '[^0-9]', '') AS INTEGER))
FROM SPACEX_WEB_SCRAPED
WHERE CUSTOMER LIKE 'NASA%';

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(124708,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [46]:
%%sql 
SELECT AVG(CAST(REGEXP_REPLACE(PAYLOAD_MASS, '[^0-9]', '') AS INTEGER))
FROM SPACEX_WEB_SCRAPED 
WHERE VERSION_BOOSTER LIKE 'F9 v1.1%';

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(2534,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [52]:
%%sql 
SELECT MIN(DATE)
FROM SPACEX_WEB_SCRAPED
WHERE LAUNCH_OUTCOME LIKE 'Success%';

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('1 March 2013',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [103]:
%%sql 
SELECT DISTINCT VERSION_BOOSTER
FROM SPACEX_WEB_SCRAPED
WHERE LAUNCH_OUTCOME LIKE 'Success%'
  AND CAST(REGEXP_SUBSTR(PAYLOAD_MASS, '[0-9]+') AS INTEGER) > 4000
  AND CAST(REGEXP_SUBSTR(PAYLOAD_MASS, '[0-9]+') AS INTEGER) < 6000;

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[]

### Task 7




##### List the total number of successful and failure mission outcomes

In [81]:
%%sql 
SELECT LAUNCH_OUTCOME, COUNT(*) AS TOTAL_NUMBER
FROM SPACEX_WEB_SCRAPED
WHERE LAUNCH_OUTCOME IN ('Success', 'Failure')
GROUP BY LAUNCH_OUTCOME;

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Failure', 1), ('Success', 32)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [82]:
%%sql 
SELECT DISTINCT VERSION_BOOSTER
FROM SPACEX_WEB_SCRAPED
WHERE PAYLOAD_MASS = (SELECT MAX(PAYLOAD_MASS) FROM SPACEX_WEB_SCRAPED);

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('F9 B5B1058.5',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [100]:
%%sql
SELECT LAUNCH_OUTCOME, VERSION_BOOSTER, LAUNCH_SITE, DATE
FROM SPACEX_WEB_SCRAPED
WHERE YEAR(TO_DATE(DATE, 'DD MONTH YYYY')) = 2015
  AND LAUNCH_OUTCOME = 'Failure';

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Failure', 'F9 v1.1', 'Cape Canaveral', '28 June 2015')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [104]:
%%sql 
SELECT LAUNCH_OUTCOME, COUNT(LAUNCH_OUTCOME) AS count
FROM SPACEX_WEB_SCRAPED
WHERE LAUNCH_OUTCOME IN ('Success', 'Failure') AND 
    TO_DATE(DATE, 'DD MONTH YYYY') BETWEEN '2010-06-04' AND '2017-03-20' 
GROUP BY LAUNCH_OUTCOME
ORDER BY count DESC;

 * ibm_db_sa://wrh91146:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Success', 11), ('Failure', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>